@{
    ViewData["Title"] = "Home Page";
}
<duv>
    <h1 class="text-center">Navigate to Student and Add Student Page to see my Tasks</h1>
    <h3>Description: </h3>
    <p>
        I have completed this project with pagination. I have provided sechema.txt, schema.sql and database beckup file to the assignment root folder.
    </p>
    <h3>Feature: </h3>
    <ul>
        <li>Generic Repository pattern. One Repository for all</li>
        <li>Pagination</li>
        <li>Students Search</li>
        <li>Add Student</li>
        <li>Show Student</li>
        <li>Delete Student</li>

    </ul>
</duv>
